#columnbanner {clear:both;height:100px; margin-top:10px;background-color:#FDFAF2;}
#columnname {font-family:"Microsoft YaHei",黑体;font-size:26px; line-height:100px;margin-left:20px;}
#contentleft {float:left;margin-top:8px;width:220px;}
#contentmain {float:left;line-height:18px;margin:8px 0 0 8px;width:680px;}
.hotbox {width:220px;margin-bottom:10px;}
#authorphoto {margin-left:59px;width:102px;max-height:102px;overflow:hidden;}
#authorsummary {margin-bottom:10px;}
#nickname {text-align:center;}