*{margin:0;padding:0;}
body{width:950px; margin:auto; font-family:"Tahoma","宋体";font-size:12px;}
h2 {font-size:14px;color:#16387c}
.money{ font-size:14px; color:#FF3300; font-weight:bold}
input{margin:1px;border: 1px solid #D4D0C8;}
input[type=text],input[type=password] {font-size:12px;padding:2px;background-color: #FFFFFF;}
input[type=checkbox],input[type=radio] {width: 20px;border: 0px;}
.okbclear {clear:both;}
.cr {clear:both;float:left;height:10px;}
.lf {margin-top:10px;}
.left {float:left;}
#topframe {
	background-color: #F5F5F5;
	height:20px;
	padding: 3px 3px 0 3px;
	border-bottom:solid 1px;
	border-bottom-color:#B0B0B0;
}
#headframe{margin:0 auto;overflow:auto;height:auto;height:70px;}
#headframe img{vertical-align:middle; margin-top:10px;}
#bottomframe {float:left;width:950px;margin-top:10px;}
#sitefoot {font-family:"Tahoma","宋体";font-size:12px; line-height:24px;text-align:center; border-top:#E0E0E0 solid 1px; margin-top:20px; padding:6px;}

#loading{background-image:url(/images/loading.gif);background-position:0px 0px;background-repeat:no-repeat; position:absolute;width:50px;height:50px;top:60%;left:50%;margin-left:-25px;text-align:center;}

a:link{color:#666666; text-decoration:none}
a:visited{color:#666666; text-decoration:none}
a:hover, a:active, a:focus{color:#FF6600;text-decoration:underline;}
