.greenbox{ margin-bottom:10px; margin-top: 10px; padding:6px; border:1px #2E8440 solid; background-color:#F2FFED; height:auto; overflow:auto; font-size:12px;}
.redbox{ margin-bottom:10px; margin-top: 10px; padding:6px; border:1px #BB3838 solid; background-color:#FFEDED; height:auto; overflow:auto; font-size:12px;}
.bluebox{ margin-bottom:10px; margin-top: 10px; padding:6px; border:1px #3287DA solid; background-color:#EFFCFB; height:auto; overflow:auto; font-size:12px;}
.yellowbox{ margin-bottom:10px; margin-top: 10px; padding:6px; border:1px #FFCC66 solid; background-color:#FFFCF4; height:auto; overflow:auto; font-size:12px;}

.greenmsg{background-image:url(img/greenmsg.gif);background-position:0px 0px;background-repeat:no-repeat; padding-left:40px;padding-bottom:20px;height:auto; font-size:14px;}
.redmsg{background-image:url(img/redmsg.gif);background-position:0px 0px;background-repeat:no-repeat; padding-left:40px;padding-bottom:20px;height:auto; font-size:14px;}
.bluemsg{background-image:url(img/bluemsg.gif);background-position:0px 0px;background-repeat:no-repeat; padding-left:40px;padding-bottom:20px;height:auto; font-size:14px;}

.errormsg, .stopmsg, .alertmsg,.attentionmsg,.tipsmsg,.okmsg,.noticemsg,.questionmsg,.helpmsg,.validation-summary-errors
{
background: url(img/msg_bg.png) no-repeat;
font-size:12px;
border: 1px solid #DDD;
color: #404040;
float: left;
line-height: 18px;
margin:1px;
padding: 2px 10px 2px 23px;
height:auto;
}

.tipsmsg{background-position:3px -197px;background-color: #FFFFE5;min-width:200px;}
.errormsg{background-position:3px 3px;background-color: #FFF2F2;min-width:200px;}
.stopmsg{background-position:3px -47px;background-color: #FFF2F2;min-width:200px;}
.alertmsg{background-position:3px -97px;background-color: #FEF5E4;min-width:200px;}
.attentionmsg{background-position:3px -147px;background-color: #E5F5FF;min-width:200px;}
.okmsg{background-position:3px -247px;background-color: #F6FBEC;min-width:200px;}
.noticemsg{background-position:3px -297px;background-color: #FFFAE6;min-width:200px;}
.questionmsg{background-position:3px -347px;background-color: #FFFEF8;min-width:200px;}
.helpmsg{background-position:3px -347px;background-color: #FFFEF8;min-width:200px;}
.validation-summary-errors{background: url(img/errormsg.png) no-repeat;background-position:3px 3px;background-color: #FFF2F2;}

/* Basic rectangle */

.crect {overflow:hidden;width:auto;height:auto;border:1px solid #d3d2d2;zoom:1;margin:0;}
.crect .x1,.crect .x1a,.crect .x2,.crect .x2a {display:block;height:2px;background:url(img/sprites.png) no-repeat;position:relative;}
.crect .x1 {background-position:right -20px;margin:-1px -1px 0 0;}
.crect .x1a {float:left;width:2px;background-position:0 0;margin-left:-1px;overflow:hidden;}
.crect .x2 {background-position:right -22px;margin:0 -1px -1px 0;}
.crect .x2a {float:left;width:2px;background-position:0 -2px;margin-left:-1px;overflow:hidden;}
.crect .crect-content {}

/* */
.rctop, .rcbottom {display:block; background:transparent; font-size:1px;}

/* Red rectangle */

.redrc1, .redrc2, .redrc3, .redrc4 {display:block; overflow:hidden;}
.redrc1, .redrc2, .redrc3 {height:1px;}
.redrc2, .redrc3, .redrc4 {background:#ffffff; border-left:1px solid #f6d897; border-right:1px solid #f6d897;}
.redrc1 {margin:0 5px; background:#f6d897;}
.redrc2 {margin:0 3px; border-width:0 2px;}
.redrc3 {margin:0 2px;}
.redrc4 {height:2px; margin:0 1px;}
.redrccontent {display:block; background:#ffffff; border:0 solid #f6d897; border-width:0 1px;}

/* Blue solid rectangle */

.bluesrc{display:block;}    
.bluesrc *{ display:block;height:1px; overflow:hidden; background:#0a67e6; }    
.bluesrc1{ border-right:1px solid #95bdf4; padding-right:1px; margin-right:3px; border-left:1px solid #95bdf4; padding-left:1px; margin-left:3px; background:#478dec; }    
.bluesrc2{ border-right:1px solid #e6effc; border-left:1px solid #e6effc; padding:0px 1px; background:#3883ea; margin:0px 1px; }    
.bluesrc3{ border-right:1px solid #3883ea; border-left:1px solid #3883ea; margin:0px 1px; }    
.bluesrc4{ border-right:1px solid #95bdf4; border-left:1px solid #95bdf4; }    
.bluesrc5{ border-right:1px solid #478dec; border-left:1px solid #478dec; }    
.bluesrccontent{ padding:0px 5px; background:#0a67e6; }   